In [1]:
# Import essential packages
import pandas as pd
import numpy as np
import matplotlib as plt
import plotly as py

In [2]:
# Import data from Github
eco_status_url = 'https://raw.githubusercontent.com/Kittisak-M/Bridging-the-Gap-Enhancing-Life-Quality-in-Thailand/main/data_set/Life%20Expectancy%20Data.csv'

main_data = 'https://raw.githubusercontent.com/Kittisak-M/Bridging-the-Gap-Enhancing-Life-Quality-in-Thailand/main/data_set/Data.csv'

In [3]:
# Read csv files
eco_status = pd.read_csv(eco_status_url)

data = pd.read_csv(main_data, encoding='latin-1')

In [4]:
# Drop duplicate
ct_status = eco_status[['Country', 'Status']].drop_duplicates().reindex()

In [5]:
# Change economics status to float
ct_status['Status'] = ct_status['Status'].replace('Developing',0)
ct_status['Status'] = ct_status['Status'].replace('Developed',1)

C:\Users\Kmaun\AppData\Local\Temp\ipykernel_21568\3286734988.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ct_status['Status'] = ct_status['Status'].replace('Developed',1)

In [6]:
# Check the change
ct_status['Status'].unique()

array([0, 1], dtype=int64)

In [7]:
# Count developed and developing countries
ct_status['Status'].value_counts()

Status
0    161
1     32
Name: count, dtype: int64

# DATA

In [8]:
eco_status.head(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [9]:
# Drop null value in
data.dropna(subset=['Series Name'], inplace=True)

In [10]:
# Reshape dataframe
melted_data = data.melt(id_vars=['Series Name', 'Country Name', 'Country Code'],
                    var_name='Year',
                    value_name='Value')

# Extract the year from the column names
melted_data['Year'] = melted_data['Year'].str.extract('(\d{4})').astype(int)

<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Kmaun\AppData\Local\Temp\ipykernel_21568\3458427132.py:7: SyntaxWarning: invalid escape sequence '\d'
  melted_data['Year'] = melted_data['Year'].str.extract('(\d{4})').astype(int)

In [11]:
melted_data['Series Name'].unique()

array(['Gini index', 'Access to electricity (% of population)',
       'Income share held by highest 10%',
       'Income share held by highest 20%',
       'Income share held by lowest 10%',
       'Income share held by lowest 20%',
       'Gross domestic income (constant LCU)',
       'Life expectancy at birth, total (years)',
       'Control of Corruption: Percentile Rank',
       'CPIA transparency, accountability, and corruption in the public sector rating (1=low to 6=high)',
       'Control of Corruption: Estimate',
       'Proportion of people living below 50 percent of median income (%)',
       'Poverty gap at $6.85 a day (2017 PPP) (%)',
       'Poverty headcount ratio at $6.85 a day (2017 PPP) (% of population)',
       'Population ages 0-14 (% of total population)',
       'Population ages 65 and above, total',
       'Population ages 15-64, total',
       'Consumer price index (2010 = 100)',
       'Inflation, consumer prices (annual %)', 'GDP (current US$)',
       'GDP growth (annual %)', 'GDP per capita (current US$)',
       'Government expenditure on education, total (% of GDP)',
       'Imports of goods and services (% of GDP)',
       'Market capitalization of listed domestic companies (% of GDP)',
       'Military expenditure (% of GDP)',
       'High-technology exports (current US$)',
       'Data from database: World Development Indicators',
       'Last Updated: 06/28/2024'], dtype=object)

In [12]:
melted_data.isnull().sum()

Series Name       0
Country Name    128
Country Code    128
Year              0
Value           128
dtype: int64

In [13]:
# Remove unnecessary rows
melted_data = melted_data.dropna(subset=['Country Name'])

In [14]:
# Ensure all column names are strings
melted_data.columns = melted_data.columns.astype(str)

# Replace spaces with underscores in column names
melted_data.columns = melted_data.columns.str.replace(' ', '_')

# Lower text in column header
melted_data.columns = melted_data.columns.str.lower()

In [15]:
melted_data

,series_name,country_name,country_code,year,value
0,Gini index,Afghanistan,AFG,1960,..
1,Gini index,Albania,ALB,1960,..
2,Gini index,Algeria,DZA,1960,..
3,Gini index,American Samoa,ASM,1960,..
4,Gini index,Andorra,AND,1960,..
...,...,...,...,...,...
459769,High-technology exports (current US$),Sub-Saharan Africa,SSF,2023,..
459770,High-technology exports (current US$),Sub-Saharan Africa (excluding high income),SSA,2023,..
459771,High-technology exports (current US$),Sub-Saharan Africa (IDA & IBRD countries),TSS,2023,..
459772,High-technology exports (current US$),Upper middle income,UMC,2023,..
459773,High-technology exports (current US$),World,WLD,2023,..

In [16]:
ct_status

                                 Country  Status
0                            Afghanistan       0
16                               Albania       0
32                               Algeria       0
48                                Angola       0
64                   Antigua and Barbuda       0
...                                  ...     ...
2858  Venezuela (Bolivarian Republic of)       0
2874                            Viet Nam       0
2890                               Yemen       0
2906                              Zambia       0
2922                            Zimbabwe       0

[193 rows x 2 columns]

In [17]:
# Lower columns header
ct_status.columns = ct_status.columns.str.lower()

# Change col
ct_status = ct_status.rename(columns={'country':'country_name'})

# Join to get economy status
cleansed_data = pd.merge(melted_data,ct_status, how='left',on='country_name')

In [18]:
cleansed_data.loc[(cleansed_data['series_name'] == 'Gini index') & (cleansed_data['country_name'] == 'Andorra') & (cleansed_data['year'] == 1960)]

  series_name country_name country_code  year value  status
4  Gini index      Andorra          AND  1960    ..     NaN

## Machine Learning to fill Economics Status

In [19]:
cleansed_data['series_name'].unique()

array(['Gini index', 'Access to electricity (% of population)',
       'Income share held by highest 10%',
       'Income share held by highest 20%',
       'Income share held by lowest 10%',
       'Income share held by lowest 20%',
       'Gross domestic income (constant LCU)',
       'Life expectancy at birth, total (years)',
       'Control of Corruption: Percentile Rank',
       'CPIA transparency, accountability, and corruption in the public sector rating (1=low to 6=high)',
       'Control of Corruption: Estimate',
       'Proportion of people living below 50 percent of median income (%)',
       'Poverty gap at $6.85 a day (2017 PPP) (%)',
       'Poverty headcount ratio at $6.85 a day (2017 PPP) (% of population)',
       'Population ages 0-14 (% of total population)',
       'Population ages 65 and above, total',
       'Population ages 15-64, total',
       'Consumer price index (2010 = 100)',
       'Inflation, consumer prices (annual %)', 'GDP (current US$)',
       'GDP growth (annual %)', 'GDP per capita (current US$)',
       'Government expenditure on education, total (% of GDP)',
       'Imports of goods and services (% of GDP)',
       'Market capitalization of listed domestic companies (% of GDP)',
       'Military expenditure (% of GDP)',
       'High-technology exports (current US$)'], dtype=object)

In [20]:
cleansed_data[cleansed_data['year'] == 2023]

,series_name,country_name,country_code,year,value,status
452466,Gini index,Afghanistan,AFG,2023,..,0.0
452467,Gini index,Albania,ALB,2023,..,0.0
452468,Gini index,Algeria,DZA,2023,..,0.0
452469,Gini index,American Samoa,ASM,2023,..,NaN
452470,Gini index,Andorra,AND,2023,..,NaN
...,...,...,...,...,...,...
459643,High-technology exports (current US$),Sub-Saharan Africa,SSF,2023,..,NaN
459644,High-technology exports (current US$),Sub-Saharan Africa (excluding high income),SSA,2023,..,NaN
459645,High-technology exports (current US$),Sub-Saharan Africa (IDA & IBRD countries),TSS,2023,..,NaN
459646,High-technology exports (current US$),Upper middle income,UMC,2023,..,NaN
459647,High-technology exports (current US$),World,WLD,2023,..,NaN

In [21]:
cleansed_data['country_name'].nunique()

266

In [22]:
cleansed_data['country_name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe',
       'Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World'], dtype=object)

## Web Scrapping to get countries (246 countries)

In [23]:
# Web Scrapping to get countries 
country_list = pd.read_html('https://www.iban.com/country-codes')

country_df= country_list[0].copy()

In [24]:
country_df.columns = country_df.columns.str.lower()

country_df = country_df[['country','alpha-3 code']]

In [25]:
country_df = country_df.rename(columns={'alpha-3 code':'country_code'})

In [26]:
country_df

               country country_code
0          Afghanistan          AFG
1        Åland Islands          ALA
2              Albania          ALB
3              Algeria          DZA
4       American Samoa          ASM
..                 ...          ...
244  Wallis and Futuna          WLF
245     Western Sahara          ESH
246              Yemen          YEM
247             Zambia          ZMB
248           Zimbabwe          ZWE

[249 rows x 2 columns]

## Web scraping to see countries in the world (195 countries)

In [27]:
# Web Scraping to get countries
country_list_2 = pd.read_html('https://www.worldometers.info/geography/alphabetical-list-of-countries/')

# Extract the first DataFrame from the list
country_df_2 = country_list_2[0].copy()

## country_df

In [28]:
# Filter rows that contain only countries
filtered_df1 = cleansed_data[cleansed_data['country_code'].isin(country_df['country_code'])]

# Apply additional filtering conditions
filtered_df1 = filtered_df1[(filtered_df1['year'] == 2023) & (filtered_df1['series_name'] == 'Gini index')]

## country_df2

In [29]:
# Filter rows that contain only countries
filtered_df2 = cleansed_data[cleansed_data['country_name'].isin(country_df_2['Country'])]

# Apply additional filtering conditions
filtered_df2 = filtered_df2[(filtered_df2['year'] == 2023) & (filtered_df2['series_name'] == 'Gini index')]

## Split index table

In [30]:
index_names = cleansed_data['series_name'].unique()

In [31]:
#Get unique values in 'series_name' column
unique_series_names = cleansed_data['series_name'].unique()

series_dataframes = {}  

for series_name in unique_series_names:
    # Filter the DataFrame for the current series_name
    series_df = cleansed_data[cleansed_data['country_name'].isin(country_df_2['Country'])]
    series_df = series_df[series_df['year'] == 2022]
    series_df = series_df[series_df['series_name'] == series_name]
    
    # Store the DataFrame in the dictionary
    series_dataframes[series_name] = series_df

In [32]:
# Create individual dataframe
def create_individual_dataframes(series_dataframes):
    for key, df in series_dataframes.items():
        formatted_name = key.replace(' ', '_').replace('(', '').replace(')', '').replace(',', '').replace('%', 'percent').replace('$', 'usd').replace('=', 'equals').replace('-', '_').lower()
        globals()[formatted_name] = df

        # Replace spaces with underscores in the entire DataFrame
        df.columns = [col.replace(' ', '_').lower() for col in df.columns]
        for col in df.columns:
            df[col] = df[col].apply(lambda x: x.replace(' ', '_') if isinstance(x, str) else x)

# Call the function to create the individual DataFrames
create_individual_dataframes(series_dataframes)

In [33]:
# Display all created dataframes
for key in series_dataframes.keys():
    formatted_name = key.replace(' ', '_').replace('(', '').replace(')', '').replace(',', '').replace('%', 'percent').replace('$', 'usd').replace('=', 'equals').replace('-', '_').lower()
    print(f"\nDataFrame: {formatted_name}")

DataFrame: gini_index

DataFrame: access_to_electricity_percent_of_population

DataFrame: income_share_held_by_highest_10percent

DataFrame: income_share_held_by_highest_20percent

DataFrame: income_share_held_by_lowest_10percent

DataFrame: income_share_held_by_lowest_20percent

DataFrame: gross_domestic_income_constant_lcu

DataFrame: life_expectancy_at_birth_total_years

DataFrame: control_of_corruption:_percentile_rank

DataFrame: cpia_transparency_accountability_and_corruption_in_the_public_sector_rating_1equalslow_to_6equalshigh

DataFrame: control_of_corruption:_estimate

DataFrame: proportion_of_people_living_below_50_percent_of_median_income_percent

DataFrame: poverty_gap_at_usd6.85_a_day_2017_ppp_percent

DataFrame: poverty_headcount_ratio_at_usd6.85_a_day_2017_ppp_percent_of_population

DataFrame: population_ages_0_14_percent_of_total_population

DataFrame: population_ages_65_and_above_total

DataFrame: population_ages_15_64_total

DataFrame: consumer_price_index_2010_equals_100

DataFrame: inflation_consumer_prices_annual_percent

DataFrame: gdp_current_ususd

DataFrame: gdp_growth_annual_percent

DataFrame: gdp_per_capita_current_ususd

DataFrame: government_expenditure_on_education_total_percent_of_gdp

DataFrame: imports_of_goods_and_services_percent_of_gdp

DataFrame: market_capitalization_of_listed_domestic_companies_percent_of_gdp

DataFrame: military_expenditure_percent_of_gdp

DataFrame: high_technology_exports_current_ususd

In [38]:
for key in series_dataframes.keys():
    formatted_name = key.replace(' ', '_').replace('(', '').replace(')', '').replace(',', '').replace('%', 'percent').replace('$', 'usd').replace('=', 'equals').replace('-', '_').lower()
    missing_count = series_dataframes[key]['value'].value_counts().get('..',0)
    print(f"\nDataFrame: {formatted_name}")
    print(f"Missing Count: {missing_count}")

DataFrame: gini_index
Missing Count: 145

DataFrame: access_to_electricity_percent_of_population
Missing Count: 0

DataFrame: income_share_held_by_highest_10percent
Missing Count: 145

DataFrame: income_share_held_by_highest_20percent
Missing Count: 145

DataFrame: income_share_held_by_lowest_10percent
Missing Count: 145

DataFrame: income_share_held_by_lowest_20percent
Missing Count: 145

DataFrame: gross_domestic_income_constant_lcu
Missing Count: 35

DataFrame: life_expectancy_at_birth_total_years
Missing Count: 4

DataFrame: control_of_corruption:_percentile_rank
Missing Count: 0

DataFrame: cpia_transparency_accountability_and_corruption_in_the_public_sector_rating_1equalslow_to_6equalshigh
Missing Count: 104

DataFrame: control_of_corruption:_estimate
Missing Count: 0

DataFrame: proportion_of_people_living_below_50_percent_of_median_income_percent
Missing Count: 145

DataFrame: poverty_gap_at_usd6.85_a_day_2017_ppp_percent
Missing Count: 145

DataFrame: poverty_headcount_ratio_at_usd6.85_a_day_2017_ppp_percent_of_population
Missing Count: 145

DataFrame: population_ages_0_14_percent_of_total_population
Missing Count: 0

DataFrame: population_ages_65_and_above_total
Missing Count: 0

DataFrame: population_ages_15_64_total
Missing Count: 0

DataFrame: consumer_price_index_2010_equals_100
Missing Count: 20

DataFrame: inflation_consumer_prices_annual_percent
Missing Count: 21

DataFrame: gdp_current_ususd
Missing Count: 4

DataFrame: gdp_growth_annual_percent
Missing Count: 4

DataFrame: gdp_per_capita_current_ususd
Missing Count: 4

DataFrame: government_expenditure_on_education_total_percent_of_gdp
Missing Count: 78

DataFrame: imports_of_goods_and_services_percent_of_gdp
Missing Count: 26

DataFrame: market_capitalization_of_listed_domestic_companies_percent_of_gdp
Missing Count: 103

DataFrame: military_expenditure_percent_of_gdp
Missing Count: 36

DataFrame: high_technology_exports_current_ususd
Missing Count: 45

KeyError: 'value'

In [ ]:
print(f"\nDataFrame: {formatted_name}")

DataFrame: high_technology_exports_current_ususd

In [ ]:
import pandas as pd

# Assuming 'df' is your pandas DataFrame
missing_values_count = df['value'].isnull().sum()
print("Number of missing values in 'value' column:", missing_values_count)

{'Gini index':        series_name country_name country_code  year value  status
 445284  Gini_index  Afghanistan          AFG  2022    ..     0.0
 445285  Gini_index      Albania          ALB  2022    ..     0.0
 445286  Gini_index      Algeria          DZA  2022    ..     0.0
 445288  Gini_index      Andorra          AND  2022    ..     NaN
 445289  Gini_index       Angola          AGO  2022    ..     0.0
 ...            ...          ...          ...   ...   ...     ...
 445491  Gini_index      Uruguay          URY  2022  40.6     0.0
 445492  Gini_index   Uzbekistan          UZB  2022  31.2     0.0
 445493  Gini_index      Vanuatu          VUT  2022    ..     0.0
 445499  Gini_index       Zambia          ZMB  2022  51.5     0.0
 445500  Gini_index     Zimbabwe          ZWE  2022    ..     0.0

 [166 rows x 6 columns],
 'Access to electricity (% of population)':                                     series_name country_name country_code  \
 445550  Access_to_electricity_(%_of_population)  Afghanistan          AFG
 445551  Access_to_electricity_(%_of_population)      Albania          ALB
 445552  Access_to_electricity_(%_of_population)      Algeria          DZA
 445554  Access_to_electricity_(%_of_population)      Andorra          AND
 445555  Access_to_electricity_(%_of_population)       Angola          AGO
 ...                                         ...          ...          ...
 445757  Access_to_electricity_(%_of_population)      Uruguay          URY
 445758  Access_to_electricity_(%_of_population)   Uzbekistan          UZB
 445759  Access_to_electricity_(%_of_population)      Vanuatu          VUT
 445765  Access_to_electricity_(%_of_population)       Zambia          ZMB
 445766  Access_to_electricity_(%_of_population)     Zimbabwe          ZWE

         year value  status
 445550  2022  85.3     0.0
 445551  2022   100     0.0
 445552  2022   100     0.0
 445554  2022   100     NaN
 445555  2022  48.5     0.0
 ...      ...   ...     ...
 445757  2022   100     0.0
 445758  2022   100     0.0
 445759  2022    70     0.0
 445765  2022  47.8     0.0
 445766  2022  50.1     0.0

 [166 rows x 6 columns],
 'Income share held by highest 10%':                              series_name country_name country_code  year  \
 445816  Income_share_held_by_highest_10%  Afghanistan          AFG  2022
 445817  Income_share_held_by_highest_10%      Albania          ALB  2022
 445818  Income_share_held_by_highest_10%      Algeria          DZA  2022
 445820  Income_share_held_by_highest_10%      Andorra          AND  2022
 445821  Income_share_held_by_highest_10%       Angola          AGO  2022
 ...                                  ...          ...          ...   ...
 446023  Income_share_held_by_highest_10%      Uruguay          URY  2022
 446024  Income_share_held_by_highest_10%   Uzbekistan          UZB  2022
 446025  Income_share_held_by_highest_10%      Vanuatu          VUT  2022
 446031  Income_share_held_by_highest_10%       Zambia          ZMB  2022
 446032  Income_share_held_by_highest_10%     Zimbabwe          ZWE  2022

        value  status
 445816    ..     0.0
 445817    ..     0.0
 445818    ..     0.0
 445820    ..     NaN
 445821    ..     0.0
 ...      ...     ...
 446023  30.5     0.0
 446024  23.2     0.0
 446025    ..     0.0
 446031  39.1     0.0
 446032    ..     0.0

 [166 rows x 6 columns],
 'Income share held by highest 20%':                              series_name country_name country_code  year  \
 446082  Income_share_held_by_highest_20%  Afghanistan          AFG  2022
 446083  Income_share_held_by_highest_20%      Albania          ALB  2022
 446084  Income_share_held_by_highest_20%      Algeria          DZA  2022
 446086  Income_share_held_by_highest_20%      Andorra          AND  2022
 446087  Income_share_held_by_highest_20%       Angola          AGO  2022
 ...                                  ...          ...          ...   ...
 446289  Income_share_held_by_highest_20%      Uruguay          URY  2022
 446290  Income_share_held_by_highest_20%   Uzbekistan          UZB  2022
 446291  Income_share_held_by_highest_20%      Vanuatu          VUT  2022
 446297  Income_share_held_by_highest_20%       Zambia          ZMB  2022
 446298  Income_share_held_by_highest_20%     Zimbabwe          ZWE  2022

        value  status
 446082    ..     0.0
 446083    ..     0.0
 446084    ..     0.0
 446086    ..     NaN
 446087    ..     0.0
 ...      ...     ...
 446289  46.7     0.0
 446290  38.6     0.0
 446291    ..     0.0
 446297  56.4     0.0
 446298    ..     0.0

 [166 rows x 6 columns],
 'Income share held by lowest 10%':                             series_name country_name country_code  year value  \
 446348  Income_share_held_by_lowest_10%  Afghanistan          AFG  2022    ..
 446349  Income_share_held_by_lowest_10%      Albania          ALB  2022    ..
 446350  Income_share_held_by_lowest_10%      Algeria          DZA  2022    ..
 446352  Income_share_held_by_lowest_10%      Andorra          AND  2022    ..
 446353  Income_share_held_by_lowest_10%       Angola          AGO  2022    ..
 ...                                 ...          ...          ...   ...   ...
 446555  Income_share_held_by_lowest_10%      Uruguay          URY  2022   2.2
 446556  Income_share_held_by_lowest_10%   Uzbekistan          UZB  2022   2.5
 446557  Income_share_held_by_lowest_10%      Vanuatu          VUT  2022    ..
 446563  Income_share_held_by_lowest_10%       Zambia          ZMB  2022   1.4
 446564  Income_share_held_by_lowest_10%     Zimbabwe          ZWE  2022    ..

         status
 446348     0.0
 446349     0.0
 446350     0.0
 446352     NaN
 446353     0.0
 ...        ...
 446555     0.0
 446556     0.0
 446557     0.0
 446563     0.0
 446564     0.0

 [166 rows x 6 columns],
 'Income share held by lowest 20%':                             series_name country_name country_code  year value  \
 446614  Income_share_held_by_lowest_20%  Afghanistan          AFG  2022    ..
 446615  Income_share_held_by_lowest_20%      Albania          ALB  2022    ..
 446616  Income_share_held_by_lowest_20%      Algeria          DZA  2022    ..
 446618  Income_share_held_by_lowest_20%      Andorra          AND  2022    ..
 446619  Income_share_held_by_lowest_20%       Angola          AGO  2022    ..
 ...                                 ...          ...          ...   ...   ...
 446821  Income_share_held_by_lowest_20%      Uruguay          URY  2022   5.6
 446822  Income_share_held_by_lowest_20%   Uzbekistan          UZB  2022   7.2
 446823  Income_share_held_by_lowest_20%      Vanuatu          VUT  2022    ..
 446829  Income_share_held_by_lowest_20%       Zambia          ZMB  2022   3.8
 446830  Income_share_held_by_lowest_20%     Zimbabwe          ZWE  2022    ..

         status
 446614     0.0
 446615     0.0
 446616     0.0
 446618     NaN
 446619     0.0
 ...        ...
 446821     0.0
 446822     0.0
 446823     0.0
 446829     0.0
 446830     0.0

 [166 rows x 6 columns],
 'Gross domestic income (constant LCU)':                                  series_name country_name country_code  year  \
 446880  Gross_domestic_income_(constant_LCU)  Afghanistan          AFG  2022
 446881  Gross_domestic_income_(constant_LCU)      Albania          ALB  2022
 446882  Gross_domestic_income_(constant_LCU)      Algeria          DZA  2022
 446884  Gross_domestic_income_(constant_LCU)      Andorra          AND  2022
 446885  Gross_domestic_income_(constant_LCU)       Angola          AGO  2022
 ...                                      ...          ...          ...   ...
 447087  Gross_domestic_income_(constant_LCU)      Uruguay          URY  2022
 447088  Gross_domestic_income_(constant_LCU)   Uzbekistan          UZB  2022
 447089  Gross_domestic_income_(constant_LCU)      Vanuatu          VUT  2022
 447095  Gross_domestic_income_(constant_LCU)       Zambia          ZMB  2022
 447096  Gross_domestic_income_(constant_LCU)     Zimbabwe          ZWE  2022

               value  status
 446880     1.01E+12     0.0
 446881     1.77E+12     0.0
 446882     2.64E+13     0.0
 446884           ..     NaN
 446885     1.47E+12     0.0
 ...             ...     ...
 447087     1.86E+12     0.0
 447088     1.54E+14     0.0
 447089  67822453438     0.0
 447095           ..     0.0
 447096     2.26E+11     0.0

 [166 rows x 6 columns],
 'Life expectancy at birth, total (years)':                                     series_name country_name country_code  \
 447146  Life_expectancy_at_birth,_total_(years)  Afghanistan          AFG
 447147  Life_expectancy_at_birth,_total_(years)      Albania          ALB
 447148  Life_expectancy_at_birth,_total_(years)      Algeria          DZA
 447150  Life_expectancy_at_birth,_total_(years)      Andorra          AND
 447151  Life_expectancy_at_birth,_total_(years)       Angola          AGO
 ...                                         ...          ...          ...
 447353  Life_expectancy_at_birth,_total_(years)      Uruguay          URY
 447354  Life_expectancy_at_birth,_total_(years)   Uzbekistan          UZB
 447355  Life_expectancy_at_birth,_total_(years)      Vanuatu          VUT
 447361  Life_expectancy_at_birth,_total_(years)       Zambia          ZMB
 447362  Life_expectancy_at_birth,_total_(years)     Zimbabwe          ZWE

         year   value  status
 447146  2022  62.879     0.0
 447147  2022  76.833     0.0
 447148  2022  77.129     0.0
 447150  2022      ..     NaN
 447151  2022  61.929     0.0
 ...      ...     ...     ...
 447353  2022      78     0.0
 447354  2022  71.674     0.0
 447355  2022  70.492     0.0
 447361  2022  61.803     0.0
 447362  2022  59.391     0.0

 [166 rows x 6 columns],
 'Control of Corruption: Percentile Rank':                                    series_name country_name country_code  \
 447412  Control_of_Corruption:_Percentile_Rank  Afghanistan          AFG
 447413  Control_of_Corruption:_Percentile_Rank      Albania          ALB
 447414  Control_of_Corruption:_Percentile_Rank      Algeria          DZA
 447416  Control_of_Corruption:_Percentile_Rank      Andorra          AND
 447417  Control_of_Corruption:_Percentile_Rank       Angola          AGO
 ...                                        ...          ...          ...
 447619  Control_of_Corruption:_Percentile_Rank      Uruguay          URY
 447620  Control_of_Corruption:_Percentile_Rank   Uzbekistan          UZB
 447621  Control_of_Corruption:_Percentile_Rank      Vanuatu          VUT
 447627  Control_of_Corruption:_Percentile_Rank       Zambia          ZMB
 447628  Control_of_Corruption:_Percentile_Rank     Zimbabwe          ZWE

         year        value  status
 447412  2022  12.26415062     0.0
 447413  2022    38.679245     0.0
 447414  2022  28.30188751     0.0
 447416  2022    88.679245     NaN
 447417  2022   30.6603775     0.0
 ...      ...          ...     ...
 447619  2022  91.98113251     0.0
 447620  2022  24.52830124     0.0
 447621  2022  53.30188751     0.0
 447627  2022  34.43396378     0.0
 447628  2022  8.490566254     0.0

 [166 rows x 6 columns],
 'CPIA transparency, accountability, and corruption in the public sector rating (1=low to 6=high)':                                               series_name country_name  \
 447678  CPIA_transparency,_accountability,_and_corrupt...  Afghanistan
 447679  CPIA_transparency,_accountability,_and_corrupt...      Albania
 447680  CPIA_transparency,_accountability,_and_corrupt...      Algeria
 447682  CPIA_transparency,_accountability,_and_corrupt...      Andorra
 447683  CPIA_transparency,_accountability,_and_corrupt...       Angola
 ...                                                   ...          ...
 447885  CPIA_transparency,_accountability,_and_corrupt...      Uruguay
 447886  CPIA_transparency,_accountability,_and_corrupt...   Uzbekistan
 447887  CPIA_transparency,_accountability,_and_corrupt...      Vanuatu
 447893  CPIA_transparency,_accountability,_and_corrupt...       Zambia
 447894  CPIA_transparency,_accountability,_and_corrupt...     Zimbabwe

        country_code  year value  status
 447678          AFG  2022     1     0.0
 447679          ALB  2022    ..     0.0
 447680          DZA  2022    ..     0.0
 447682          AND  2022    ..     NaN
 447683          AGO  2022    ..     0.0
 ...             ...   ...   ...     ...
 447885          URY  2022    ..     0.0
 447886          UZB  2022     3     0.0
 447887          VUT  2022   3.5     0.0
 447893          ZMB  2022   2.5     0.0
 447894          ZWE  2022   2.5     0.0

 [166 rows x 6 columns],
 'Control of Corruption: Estimate':                             series_name country_name country_code  year  \
 447944  Control_of_Corruption:_Estimate  Afghanistan          AFG  2022
 447945  Control_of_Corruption:_Estimate      Albania          ALB  2022
 447946  Control_of_Corruption:_Estimate      Algeria          DZA  2022
 447948  Control_of_Corruption:_Estimate      Andorra          AND  2022
 447949  Control_of_Corruption:_Estimate       Angola          AGO  2022
 ...                                 ...          ...          ...   ...
 448151  Control_of_Corruption:_Estimate      Uruguay          URY  2022
 448152  Control_of_Corruption:_Estimate   Uzbekistan          UZB  2022
 448153  Control_of_Corruption:_Estimate      Vanuatu          VUT  2022
 448159  Control_of_Corruption:_Estimate       Zambia          ZMB  2022
 448160  Control_of_Corruption:_Estimate     Zimbabwe          ZWE  2022

                value  status
 447944  -1.183776498     0.0
 447945  -0.407875538     0.0
 447946  -0.637929857     0.0
 447948    1.27020359     NaN
 447949  -0.601941288     0.0
 ...              ...     ...
 448151   1.610527992     0.0
 448152  -0.757623434     0.0
 448153  -0.028940963     0.0
 448159  -0.529199839     0.0
 448160   -1.25513947     0.0

 [166 rows x 6 columns],
 'Proportion of people living below 50 percent of median income (%)':                                               series_name country_name  \
 448210  Proportion_of_people_living_below_50_percent_o...  Afghanistan
 448211  Proportion_of_people_living_below_50_percent_o...      Albania
 448212  Proportion_of_people_living_below_50_percent_o...      Algeria
 448214  Proportion_of_people_living_below_50_percent_o...      Andorra
 448215  Proportion_of_people_living_below_50_percent_o...       Angola
 ...                                                   ...          ...
 448417  Proportion_of_people_living_below_50_percent_o...      Uruguay
 448418  Proportion_of_people_living_below_50_percent_o...   Uzbekistan
 448419  Proportion_of_people_living_below_50_percent_o...      Vanuatu
 448425  Proportion_of_people_living_below_50_percent_o...       Zambia
 448426  Proportion_of_people_living_below_50_percent_o...     Zimbabwe

        country_code  year value  status
 448210          AFG  2022    ..     0.0
 448211          ALB  2022    ..     0.0
 448212          DZA  2022    ..     0.0
 448214          AND  2022    ..     NaN
 448215          AGO  2022    ..     0.0
 ...             ...   ...   ...     ...
 448417          URY  2022  17.8     0.0
 448418          UZB  2022  13.4     0.0
 448419          VUT  2022    ..     0.0
 448425          ZMB  2022  21.9     0.0
 448426          ZWE  2022    ..     0.0

 [166 rows x 6 columns],
 'Poverty gap at $6.85 a day (2017 PPP) (%)':                                       series_name country_name country_code  \
 448476  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)  Afghanistan          AFG
 448477  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)      Albania          ALB
 448478  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)      Algeria          DZA
 448480  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)      Andorra          AND
 448481  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)       Angola          AGO
 ...                                           ...          ...          ...
 448683  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)      Uruguay          URY
 448684  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)   Uzbekistan          UZB
 448685  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)      Vanuatu          VUT
 448691  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)       Zambia          ZMB
 448692  Poverty_gap_at_$6.85_a_day_(2017_PPP)_(%)     Zimbabwe          ZWE

         year value  status
 448476  2022    ..     0.0
 448477  2022    ..     0.0
 448478  2022    ..     0.0
 448480  2022    ..     NaN
 448481  2022    ..     0.0
 ...      ...   ...     ...
 448683  2022   1.6     0.0
 448684  2022   5.9     0.0
 448685  2022    ..     0.0
 448691  2022  67.9     0.0
 448692  2022    ..     0.0

 [166 rows x 6 columns],
 'Poverty headcount ratio at $6.85 a day (2017 PPP) (% of population)':                                               series_name country_name  \
 448742  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...  Afghanistan
 448743  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...      Albania
 448744  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...      Algeria
 448746  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...      Andorra
 448747  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...       Angola
 ...                                                   ...          ...
 448949  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...      Uruguay
 448950  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...   Uzbekistan
 448951  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...      Vanuatu
 448957  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...       Zambia
 448958  Poverty_headcount_ratio_at_$6.85_a_day_(2017_P...     Zimbabwe

        country_code  year value  status
 448742          AFG  2022    ..     0.0
 448743          ALB  2022    ..     0.0
 448744          DZA  2022    ..     0.0
 448746          AND  2022    ..     NaN
 448747          AGO  2022    ..     0.0
 ...             ...   ...   ...     ...
 448949          URY  2022   6.4     0.0
 448950          UZB  2022  17.3     0.0
 448951          VUT  2022    ..     0.0
 448957          ZMB  2022  93.2     0.0
 448958          ZWE  2022    ..     0.0

 [166 rows x 6 columns],
 'Population ages 0-14 (% of total population)':                                          series_name country_name  \
 449008  Population_ages_0-14_(%_of_total_population)  Afghanistan
 449009  Population_ages_0-14_(%_of_total_population)      Albania
 449010  Population_ages_0-14_(%_of_total_population)      Algeria
 449012  Population_ages_0-14_(%_of_total_population)      Andorra
 449013  Population_ages_0-14_(%_of_total_population)       Angola
 ...                                              ...          ...
 449215  Population_ages_0-14_(%_of_total_population)      Uruguay
 449216  Population_ages_0-14_(%_of_total_population)   Uzbekistan
 449217  Population_ages_0-14_(%_of_total_population)      Vanuatu
 449223  Population_ages_0-14_(%_of_total_population)       Zambia
 449224  Population_ages_0-14_(%_of_total_population)     Zimbabwe

        country_code  year        value  status
 449008          AFG  2022  43.13063354     0.0
 449009          ALB  2022  16.14661046     0.0
 449010          DZA  2022  30.64324667     0.0
 449012          AND  2022  12.79502405     NaN
 449013          AGO  2022  45.01513066     0.0
 ...             ...   ...          ...     ...
 449215          URY  2022  19.09821612     0.0
 449216          UZB  2022   30.2113376     0.0
 449217          VUT  2022  39.39318817     0.0
 449223          ZMB  2022  42.85655302     0.0
 449224          ZWE  2022  40.63400304     0.0

 [166 rows x 6 columns],
 'Population ages 65 and above, total':                                 series_name country_name country_code  year  \
 449274  Population_ages_65_and_above,_total  Afghanistan          AFG  2022
 449275  Population_ages_65_and_above,_total      Albania          ALB  2022
 449276  Population_ages_65_and_above,_total      Algeria          DZA  2022
 449278  Population_ages_65_and_above,_total      Andorra          AND  2022

In [ ]:
military_expenditure_percent_of_gdp['value'].value_counts()['..']

value
..             36
1.153567178     1
0.33290492      1
2.63074028      1
5.167666618     1
               ..
2.086665791     1
1.097262085     1
1.320394102     1
2.15522187      1
0.427056563     1
Name: count, Length: 131, dtype: int64